h1{
    color: gold;
    font-family: Cambria;
    text-align: center;
    font-size: 45px;
}
p{
    font-family: Dialog;
    text-align: center;
    color: indigo;
    font-size: 30px;
    font-weight: bold;
}
h2{
    color: gold;
    font-family: Cambria;
    text-align: center;
    font-size: 30px;
}